<div class="container">
  <div class="todo-list">
    <div class="input-group">
      <input type="text" placeholder="Todo">
      <button class="add-button">+</button>
    </div>
    <table>
      <tr class="even">
        <td>
          <pre>Visit Ann</pre>
        </td>
        <td>
          <button class="delete-button">x</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <!-- Odd -->
      <tr class="odd">
        <td>
          <pre>Clean room</pre>
        </td>
        <td>
          <button class="delete-button">x</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <tr class="even">
        <td>
          <pre>Wash Vehicle</pre>
        </td>
        <td>
          <button class="delete-button">x</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <!-- Odd -->
      <tr class="odd">
        <td>
          <pre>Complete Website</pre>
        </td>
        <td>
          <button class="delete-button">x</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
      <!-- Odd -->
      <tr class="even">
        <td>
          <pre>Go to gym</pre>
        </td>
        <td>
          <button class="delete-button">x</button>
          <button class="done-button">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>
